<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
        <!--引入数据源-->
        <context:property-placeholder location="classpath*:./config/db.properties" ignore-unresolvable="true" />

        <!--加载数据源-->
        <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
            <property name="driverClassName" value="${jdbc.driverClassName}" />
            <property name="url" value="${jdbc.url}" />
            <property name="username" value="${jdbc.username}" />
            <property name="password" value="${jdbc.password}" />

            <!-- 连接池启动时的初始值 -->
            <property name="initialSize" value="3"/>
            <!-- 连接池的最大值 -->
            <property name="maxActive" value="800"/>
            <!-- 最大空闲值 -->
            <property name="maxIdle" value="100"/>
            <!-- 最小空闲值 -->
            <property name="minIdle" value="3"/>
            <!-- 是否启用超时自动移除空闲链接 -->
            <property name="removeAbandoned" value="false"/>
            <!-- 超时时间 -->
            <property name="removeAbandonedTimeout" value="18000"/>
            <!-- 超时等待时间 -->
            <property name="maxWait" value="10000"></property>
        </bean>

        <!--SqlSessionFactory配置 和mybatis整合-->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            <!--注入数据源-->
            <property name="dataSource" ref="dataSource" />
            <!--指定mybatis配置文件-->
            <property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml" />
            <!--指定mybatis的xml文件位置-->
            <property name="mapperLocations" value="classpath:top/plgxs/admin/mapper/*.xml" />
        </bean>

        <!--配置mybatis扫描器-->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
            <!--dao层接口位置-->
            <property name="basePackage" value="top.plgxs.admin.dao" />
            <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        </bean>

        <!--配置一个可以执行批量的sqlSession-->
        <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
            <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
            <constructor-arg name="executorType" value="BATCH" />
        </bean>
</beans>