<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.plgxs.admin.dao.MemberMapper" >
  <resultMap id="BaseResultMap" type="top.plgxs.admin.entity.Member" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="login_count" property="loginCount" jdbcType="INTEGER" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="balance_pwd" property="balancePwd" jdbcType="VARCHAR" />
    <result column="is_email_verify" property="isEmailVerify" jdbcType="BIT" />
    <result column="is_sms_verify" property="isSmsVerify" jdbcType="BIT" />
    <result column="sms_verify_code" property="smsVerifyCode" jdbcType="VARCHAR" />
    <result column="email_verify_code" property="emailVerifyCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="head_url" property="headUrl" jdbcType="VARCHAR" />
    <result column="ext_1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext_2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext_3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext_4" property="ext4" jdbcType="VARCHAR" />
    <result column="ext_5" property="ext5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, real_name, email, mobile, gender, id_number, birthday, register_time, 
    last_login_time, login_count, token, balance, balance_pwd, is_email_verify, is_sms_verify, 
    sms_verify_code, email_verify_code, status, update_time, head_url, ext_1, ext_2, 
    ext_3, ext_4, ext_5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from member
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from member
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.plgxs.admin.entity.Member" >
    insert into member (id, username, password, 
      real_name, email, mobile, 
      gender, id_number, birthday, 
      register_time, last_login_time, login_count, 
      token, balance, balance_pwd, 
      is_email_verify, is_sms_verify, sms_verify_code, 
      email_verify_code, status, update_time, 
      head_url, ext_1, ext_2, 
      ext_3, ext_4, ext_5)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{gender,jdbcType=TINYINT}, #{idNumber,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{loginCount,jdbcType=INTEGER}, 
      #{token,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, #{balancePwd,jdbcType=VARCHAR}, 
      #{isEmailVerify,jdbcType=BIT}, #{isSmsVerify,jdbcType=BIT}, #{smsVerifyCode,jdbcType=VARCHAR}, 
      #{emailVerifyCode,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{headUrl,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
      #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.plgxs.admin.entity.Member" >
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="idNumber != null" >
        id_number,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="registerTime != null" >
        register_time,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="loginCount != null" >
        login_count,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="balancePwd != null" >
        balance_pwd,
      </if>
      <if test="isEmailVerify != null" >
        is_email_verify,
      </if>
      <if test="isSmsVerify != null" >
        is_sms_verify,
      </if>
      <if test="smsVerifyCode != null" >
        sms_verify_code,
      </if>
      <if test="emailVerifyCode != null" >
        email_verify_code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="headUrl != null" >
        head_url,
      </if>
      <if test="ext1 != null" >
        ext_1,
      </if>
      <if test="ext2 != null" >
        ext_2,
      </if>
      <if test="ext3 != null" >
        ext_3,
      </if>
      <if test="ext4 != null" >
        ext_4,
      </if>
      <if test="ext5 != null" >
        ext_5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginCount != null" >
        #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="balancePwd != null" >
        #{balancePwd,jdbcType=VARCHAR},
      </if>
      <if test="isEmailVerify != null" >
        #{isEmailVerify,jdbcType=BIT},
      </if>
      <if test="isSmsVerify != null" >
        #{isSmsVerify,jdbcType=BIT},
      </if>
      <if test="smsVerifyCode != null" >
        #{smsVerifyCode,jdbcType=VARCHAR},
      </if>
      <if test="emailVerifyCode != null" >
        #{emailVerifyCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="headUrl != null" >
        #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        #{ext5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.plgxs.admin.entity.Member" >
    update member
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="idNumber != null" >
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="registerTime != null" >
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginCount != null" >
        login_count = #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="balancePwd != null" >
        balance_pwd = #{balancePwd,jdbcType=VARCHAR},
      </if>
      <if test="isEmailVerify != null" >
        is_email_verify = #{isEmailVerify,jdbcType=BIT},
      </if>
      <if test="isSmsVerify != null" >
        is_sms_verify = #{isSmsVerify,jdbcType=BIT},
      </if>
      <if test="smsVerifyCode != null" >
        sms_verify_code = #{smsVerifyCode,jdbcType=VARCHAR},
      </if>
      <if test="emailVerifyCode != null" >
        email_verify_code = #{emailVerifyCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="headUrl != null" >
        head_url = #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext_1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext_2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext_3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        ext_4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        ext_5 = #{ext5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.plgxs.admin.entity.Member" >
    update member
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      id_number = #{idNumber,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      login_count = #{loginCount,jdbcType=INTEGER},
      token = #{token,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DECIMAL},
      balance_pwd = #{balancePwd,jdbcType=VARCHAR},
      is_email_verify = #{isEmailVerify,jdbcType=BIT},
      is_sms_verify = #{isSmsVerify,jdbcType=BIT},
      sms_verify_code = #{smsVerifyCode,jdbcType=VARCHAR},
      email_verify_code = #{emailVerifyCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      head_url = #{headUrl,jdbcType=VARCHAR},
      ext_1 = #{ext1,jdbcType=VARCHAR},
      ext_2 = #{ext2,jdbcType=VARCHAR},
      ext_3 = #{ext3,jdbcType=VARCHAR},
      ext_4 = #{ext4,jdbcType=VARCHAR},
      ext_5 = #{ext5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>